body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Hide scrollbars globally while keeping scroll */
*{
  scrollbar-width: none;          /* Firefox */
  -ms-overflow-style: none;       /* IE / Edge */
  box-sizing: border-box;
}

*::-webkit-scrollbar{
  display: none;                  /* Chrome, Safari, Opera */
}

/* LIGHT MODE */
.light-mode {
  background: #f4f6f9;
  color: #111;
  min-height: 100vh;
  transition: 0.3s;
}

/* DARK MODE */
.dark-mode {
  background: #121212;
  color: white;
  min-height: 100vh;
  transition: 0.3s;
}